API_PORT=3000
API_HOST=0.0.0.0
MONGO_INIT_MAX_ATTEMPTS=60
PIX_REVIEW_AMOUNT_CENTS=500000
PIX_BEHAVIOR_WINDOW_MS=1800000
PIX_BEHAVIOR_FREQUENCY_THRESHOLD=5
PIX_BEHAVIOR_CUMULATIVE_AMOUNT_CENTS=2000000
PIX_BEHAVIOR_REVIEW_SCORE_THRESHOLD=70
PIX_REVIEW_SLA_MS=86400000
WORKSHOP_MODE=true
# FIXED_CLOCK=2026-08-18T14:00:00-03:00
WORKSPACE_SESSION_KEY=local-workshop-key
FACILITATOR_ACCESS_CODE=local-facilitator-code
